# StarFive board support
CONFIG_ARCH_STARFIVE=y
CONFIG_SOC_STARFIVE=y
# VisionFive 2
CONFIG_HW_RANDOM_JH7110=m
CONFIG_MMC_DW_STARFIVE=m
CONFIG_SND_SOC_STARFIVE=m
CONFIG_SND_SOC_JH7110_TDM=m
CONFIG_USB_CDNS3_STARFIVE=m
CONFIG_CRYPTO_DEV_JH7110=m
CONFIG_SENSORS_SFCTEMP=m
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=m
CONFIG_PHY_STARFIVE_JH7110_PCIE=m
CONFIG_PHY_STARFIVE_JH7110_USB=m
CONFIG_SND_SOC_JH7110_PWMDAC=m
# SiFive board support
CONFIG_ARCH_SIFIVE=y
CONFIG_SOC_SIFIVE=y
CONFIG_GPIO_SIFIVE=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_SIFIVE_CCACHE=y
CONFIG_EDAC_SIFIVE=y
CONFIG_PCIE_FU740=y
CONFIG_PWM_SIFIVE=m
CONFIG_REGULATOR_DA9063=m
CONFIG_I2C_HID_CORE=m
CONFIG_I2C_HID=m
CONFIG_I2C_HID_OF_ELAN=m
CONFIG_I2C_HID_OF_GOODIX=m
CONFIG_I2C_HID_OF=m
# THead board support
CONFIG_ARCH_THEAD=y
CONFIG_ERRATA_THEAD=y
# PolarFire board support
CONFIG_ARCH_MICROCHIP_POLARFIRE=y
CONFIG_SOC_MICROCHIP_POLARFIRE=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_PCIE_XILINX=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_USB_MUSB_POLARFIRE_SOC=m
CONFIG_RTC_DRV_POLARFIRE_SOC=m
CONFIG_POLARFIRE_SOC_MAILBOX=m
CONFIG_I2C_MICROCHIP_CORE=m
CONFIG_POLARFIRE_SOC_SYS_CTRL=m
CONFIG_HW_RANDOM_POLARFIRE_SOC=m
CONFIG_PWM_MICROCHIP_CORE=m
# Sophgo board support
CONFIG_ARCH_SOPHGO=y
# QEMU support
CONFIG_ARCH_VIRT=y
CONFIG_SOC_VIRT=y
CONFIG_PCI_HOST_GENERIC=m
CONFIG_MMC_DW_PLTFM=m
CONFIG_MMC_DW=m
# Allwinner D1 support
CONFIG_ARCH_SUNXI=y
CONFIG_SUN8I_DE2_CCU=m
CONFIG_KEYBOARD_SUN4I_LRADC=m
CONFIG_I2C_MV64XXX=m
CONFIG_SPI_SUN6I=m
CONFIG_SUNXI_WATCHDOG=m
CONFIG_DRM_SUN4I=m
CONFIG_USB_MUSB_SUNXI=m
CONFIG_MMC_SUNXI=m
CONFIG_RTC_DRV_SUN6I=y
CONFIG_DMA_SUN6I=m
CONFIG_SUN50I_IOMMU=y
CONFIG_PHY_SUN4I_USB=m
CONFIG_NVMEM_SUNXI_SID=m
CONFIG_SUN8I_THERMAL=m
CONFIG_STAGING=y
CONFIG_STAGING_MEDIA=y
CONFIG_VIDEO_SUNXI=y
CONFIG_VIDEO_SUNXI_CEDRUS=m
CONFIG_SND_SUN4I_CODEC=m
CONFIG_SND_SUN4I_I2S=m
CONFIG_SND_SUN4I_SPDIF=m
CONFIG_HWSPINLOCK_SUN6I=y
CONFIG_CRYPTO_DEV_SUN8I_CE=m
CONFIG_CRYPTO_DEV_SUN8I_CE_HASH=y
CONFIG_CRYPTO_DEV_SUN8I_CE_PRNG=y
CONFIG_CRYPTO_DEV_SUN8I_CE_TRNG=y
CONFIG_SUN20I_PPU=y
CONFIG_SND_SUN50I_DMIC=m
CONFIG_SUN20I_GPADC=m
# Others
CONFIG_POWER_RESET_GPIO=y
CONFIG_POWER_RESET_GPIO_RESTART=y
CONFIG_RISCV_SBI_V01=y
CONFIG_HVC_RISCV_SBI=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_SERIAL_8250_DW=y
