# StarFive board support
CONFIG_SOC_STARFIVE=y
# SiFive board support
CONFIG_SOC_SIFIVE=y
CONFIG_GPIO_SIFIVE=y
CONFIG_SIFIVE_CCACHE=y
CONFIG_EDAC_SIFIVE=y
CONFIG_PCIE_FU740=y
CONFIG_PWM_SIFIVE=m
CONFIG_REGULATOR_DA9063=m
# THead board support
CONFIG_ERRATA_THEAD=y
CONFIG_ERRATA_THEAD_PBMT=y
# PolarFire board support
CONFIG_SOC_MICROCHIP_POLARFIRE=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_PCIE_XILINX=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_USB_MUSB_POLARFIRE_SOC=m
CONFIG_RTC_DRV_POLARFIRE_SOC=m
CONFIG_POLARFIRE_SOC_MAILBOX=m
CONFIG_I2C_MICROCHIP_CORE=m
CONFIG_POLARFIRE_SOC_SYS_CTRL=m
CONFIG_HW_RANDOM_POLARFIRE_SOC=m
# QEMU support
CONFIG_SOC_VIRT=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_MMC_DW_PLTFM=m
CONFIG_MMC_DW=m
# Others
CONFIG_POWER_RESET_GPIO=y
CONFIG_POWER_RESET_GPIO_RESTART=y
