# debian_defconfig
CONFIG_SENSORS_PWM_FAN=m
CONFIG_DWMAC_EIC7700=m
CONFIG_DRM_THEAD_TH1520_DW_HDMI=m
CONFIG_SND_SOC_K1_I2S=m
CONFIG_PHY_SPACEMIT_K1_USB2=m
CONFIG_ARCH_ULTRARISC=y
CONFIG_PCIE_ULTRARISC=m
CONFIG_SENSORS_COREPVT_ULTRARISC=m
# spacemit,k1-qspi
CONFIG_SPI_FSL_QUADSPI=m
# doesn't build with =m
CONFIG_PINCTRL_ULTRARISC_DP1000=y
CONFIG_SPACEMIT_K1_TSENSOR=m
# thead,th1520-dc8200 / verisilicon,dc
CONFIG_DRM_VERISILICON_DC=m
CONFIG_SPACEMIT_K3_CCU=m
CONFIG_CRYPTO_AES_RISCV64=m
CONFIG_CRYPTO_GHASH_RISCV64=m
CONFIG_DMA_NUMA_CMA=y
CONFIG_PWM_TH1520=m
