# From normal defconfig
CONFIG_ARCH_SOPHGO=y
CONFIG_ERRATA_THEAD=y
CONFIG_MMC_SDHCI_SOPHGO=m
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_PCIE_CADENCE_SOPHGO=y
CONFIG_SENSORS_PWM_FAN=m
CONFIG_DRM_SMI=m
CONFIG_DRM_SMI_HDMI=y
# From fedora defconfig
CONFIG_VECTOR=y
CONFIG_SPI_SOPHGO_SPIFMC=m
CONFIG_DRM_SMI_PRIME=y
# Sophgo's CONFIG_HIGHMEM conflicts with CONFIG_SPARSEMEM_VMEMMAP
CONFIG_SPARSEMEM_VMEMMAP=n
